<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="impactguru" thread-count="1" parallel="tests">

	<listeners>
		<listener class-name="com.impactguru.utilities.Reporting" />
	</listeners>


	<test name="chrometest">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="com.impactguru.testcases.TC001_FirstPage" />
		
		</classes>


	</test>

	<!-- <test name="fftest"> <parameter name="browser" value="firefox" /> <classes> 
		<class name="com.mudraLoan.testCases.TC001_FirstPage" /> </classes> </test> -->


</suite>